OPENAI_API_BASE_URL="https://api.openai.com/v1"
OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxx"
SYSTEM_WORKSPACE_DIR="./workspace/"
LOGGING_LEVEL="INFO"
SQLITE_DB_PATH="./workspace/metadata/audit_telemetry.db"
